redis:
    address: localhost:6379
    username: ""
    password: ""
    db: 0
    use_tls: false
    sentinel_master_name: ""
    sentinel_username: ""
    sentinel_password: ""
    sentinel_addresses: []
    cluster_addresses: []
    max_redirects: null
api_key: {{ livekit_api_key }}
api_secret: {{ livekit_api_secret }}
ws_url: wss://{{ livekit_domain }}
