---
- name: Ensure required dependencies are installed
  become: true
  ansible.builtin.apt:
    name:
      - curl
      - tar
      - unzip
    state: present
    update_cache: true

## Todo only run if Reth version changed
- name: Install Reth
  become: true
  ansible.builtin.unarchive:
    remote_src: true
    src: "https://github.com/paradigmxyz/reth/releases/download/{{ reth_version }}/reth-{{ reth_version }}-x86_64-unknown-linux-gnu.tar.gz"
    list_files: true
    dest: "{{ reth_bin_inst_path }}"

- name: Add App bin path to PATH variable
  ansible.builtin.blockinfile:
    path: /home/{{ ansible_user }}/.bashrc
    block: |
      # Add app bin path to PATH variable
      export PATH=$PATH:/usr/local/bin
    marker: "# {mark} ANSIBLE MANAGED BIN PATH"

- name: Create data directory for Reth
  become: true
  ansible.builtin.file:
    path: "{{ reth_data_dir }}"
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: Store jwt secret in Reth datadir
  become: true
  ansible.builtin.copy:
    content: "{{ reth_jwt_secret }}"
    dest: "{{ reth_data_dir }}/jwtsecret"

- name: Create reth systemd service file
  become: true
  ansible.builtin.template:
    src: reth.service.j2
    dest: /etc/systemd/system/reth.service
  notify: Restart Reth

- name: Ensure Reth Is Running
  become: true
  ansible.builtin.systemd:
    name: reth
    enabled: true
    state: started
