[Interface]
PrivateKey = {{ wg_prv_key }}
Address = {{ wg_local_ip }}/24
ListenPort = {{ wg_listen_port }}
SaveConfig = true

{% for peer in wg_peers %}
[[Peer]]
PublicKey = {{ peer.pubkey }}
AllowedIPs = {{ peer.allowed_ips }}
Endpoint = {{ peer.endpoint }}:{{ peer.port }}
{% endfor %}
