[Unit]
Description=Service for Holesky Ethereum Node
Requires=network.target holesky.service
After=network.target holesky.service

[Service]
Type=simple
ExecStart={{ bin_inst_path }}/lighthouse bn \
            --datadir=/var/lib/lighthouse \
            --http \
            --network=holesky \
            --execution-endpoints=http://127.0.0.1:8551 \
            --execution-jwt="/var/lib/geth/jwtsecret" \
            --checkpoint-sync-url {{ checkpoint_sync_url }} \
            --disable-deposit-contract-sync \
            --disable-light-client-server
Restart=always

[Install]
WantedBy=multi-user.target
