<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <title>Goose Ops</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/goose_styles.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
</head>

<body>

<!-- Site navigation menu -->
<ul class="navbar">
  <li><a href="/">Home page</a>
  <li><a href="/weather">Weather</a>
  <!-- <li><a href="town.html">My town</a>
  <li><a href="links.html">Links</a> -->
</ul>

{% block content %}
{% endblock %}
<!-- Sign and date the page, it's only polite! -->
<address>Begun 11 September 2023<br>
    by TheGoose.</address>
</body>
</html>