{% extends "weather.html" %}
{% block weather %}
<div style="overflow-x: auto;">
  <table>
    <tr>
      <th>Time at Location</th>
      <th>Temperature</th>
      <th>% Precipitation</th>
      <th>% Humidity</th>
      <th>Forecast</th>
    </tr>
  {% for period in forecasts %}
    <tr>
      <td style="width:15%">{{ format_time(period['startTime']) }}</td>
      <td style="width:10%">{{period['temperature']}}</td>
      <td style="width:10%">{{period['probabilityOfPrecipitation']['value']}}</td>
      <td style="width:10%">{{period['relativeHumidity']['value']}}</td>
      <td style="width:10%">{{period['shortForecast']}}</td>
    </tr>
  {% endfor %}
  </table>
</div>
{% endblock weather %}
