{% extends "base.html" %}
{% block content %}

<!-- Main content -->
<h1>GooseOps, LLC</h1>

<p>Let us operate your software!</p>

<p>
    On this site, you will find navigations to different
    hosted softwares. This software is open source and running
    on infrastructure that we have provisioned to demonstrate
    our ability to run anything you are willing to throw at GooseOps, LLC.
</p>

<p>
    There will be more to come, but just be patient.
</p>
<p>
    P.S.  I am not a frontend developer and as such, appearances are not
    the focus of this website.
</p>
{% endblock %}